.container-box {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

.search-bar-container {
  display: none;
}

.gallery-holder {
  position: fixed;
  z-index: 8;

  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: none;
}

.gallery-closer-holder {
  position: absolute;
  top: 54px;
  font-size: 20px;
  width: 100%;
  text-align: right;
  color: #555;
}

.gallery-closer {
  display: inline-block;
  padding: 4px;
  font-size: 20px;
  letter-spacing: 0px;
  vertical-align: middle;
  height: 30px;
}

.gallery-holder img {
  position: absolute;
  width: 95%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.gallery-background {
  position: fixed;
  z-index: 7;
  background-color: #111;
  opacity: 0.8;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: none;
}

#main-view-holder {
  width: 100%;
  height: 50%;
  background-color: #252525;
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  overflow: hidden;
}

#main-canvas-holder {
  width: 100%;
  height: 100%;
}

#legend-holder {
  padding: 5px;
  position: absolute;
  right: 0px;
  bottom: 20px;
  color: #b5b5b5;
  font-size: 12px;
  letter-spacing: 0.8px;
}


#color-guide-holder div {
  height: 18px;
  line-height: 18px;
}

#empty-guide .color-square {
  background-color: #bfdfff;
}

#taken-guide .color-square {
  background-color: #263333;
}

#counter-guide .color-square {
  background-color: #9b9b9b;
}

span.color-square {
  width: 15px;
  height: 15px;
  margin-left: 5px;
  border-radius: 2.5px;
  display: inline-block;
  vertical-align: middle;
  float: right;
}

#time-holder {
  display: inline-block;
  font-size: 12px;
  letter-spacing: 0.8px;
  color: #b5b5b5;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

#current-time {
  color: #656565;
}

#time-holder .fa-sync-alt {
  margin-left: 5px;
  color: #656565;
  vertical-align: middle;
}

#party-info-label {
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: 6;
  color: #d8d8d8;
  font-size: 12px;
  opacity: 0.7;
  letter-spacing: 0.8px;
}

#party-info-holder {
  position: absolute;
  top: 18px;
  right: 10px;
  z-index: 5;
}

#party-number-holder {
  background-color: transparent;
  opacity: 0.7;
  border-radius: 10px;
  position: relative;
}

#party-number-holder div {
  text-align: center;
}

#party-unit {
  position: absolute;
  height: 100%;
  line-height: 80px;
  top: 0px;
  right: -4px;
  color: #cfcfcf;
}

#party-unit span {
  vertical-align: middle;
  font-size: 12px;
}

div#party-size-number {
  font-family: Jua;
  background-color: rgba(0,0,0,0);
  border: none;
  width: 40px;
  height: 20px;
  line-height: 20px;
  color: #fff;
  letter-spacing: 0.1px;
  font-size: 24px;
  padding-right: 13px;
  text-align: right;
}

.number-button i {
  color: #888;
  font-size: 40px;
  vertical-align: middle;
}

#up-button-holder {
  /* margin-top: -10px; */
  margin-bottom: -8px;
}

#up-button-holder i {
  margin-top: -6px;
}

/* 3:4 */

#down-button-holder {
  margin-top: -10px;
  /* margin-bottom: -10px; */
}

#down-button-holder i {
  margin-bottom: -4px;
}

.pc-picture-holder {
  float: left;
  width: 100px;
  margin-right: 10px;
}

.main-picture-holder {
  width: 100px;
  height: 100px;
  position: relative;

  overflow: hidden;
  border: 1px solid #444;
  overflow: hidden;
  border-radius: 6px;
}

.main-picture-holder img {
  height: 100%;
  -webkit-transform:translate(-50%);
  -moz-tranform:translate(-50%);
  -ms-transform: translate(-50%); /* IE 9 */
  transform: translate(-50%);
  margin-left: 50%;
  z-index: 2;
}

.main-picture-background {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  left: 0px;
  top: 0px;
  background-color: #353535;
  z-index: -1;
  color: #aaa;
  font-size: 50px;
}

.main-picture-background .fas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.thumbnails-holder {
  table-layout: fixed;
  overflow: hidden;
  width: 100%;
}

.thumbnails-holder td {
  border: solid 3px transparent;
  border-bottom: none;
  overflow: hidden;
  position: relative;
}

.thumbnails-holder tr td:first-child {
    border-top: 0;
    border-left: 0;
}

.thumbnails-holder tr td:last-child {
    border-right: 0;
}

.thumbnails-holder .single_thumbnail {
  overflow: hidden;

  width: 100%;
  height: 100%;
  position: relative;
  border: 1px solid #444;
  border-radius: 3px;
}

.thumbnails-holder .single_thumbnail img {
  display: block;
  height: 100%;
  z-index: 1;
  -webkit-transform: translate(-50%);
  -moz-tranform: translate(-50%);
  -ms-transform: translate(-50%); /* IE 9 */
  transform: translate(-50%);
  margin-left: 50%;
}

.single_thumbnail_background {
  background-color: #353535;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}

.single_thumbnail_background .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.thumbnails-holder .single_thumbnail:hover {
  cursor: pointer;
}

.pc-info-holder {
  color: #d5d5d5;
  padding: 12px;
  padding-left: 16px;
  padding-right: 16px;
}

.pc-title-holder {
  padding-bottom: 0px;
}

.pc-title {
  font-size: 24px;
  letter-spacing: 1.2px;
}

.pc-subtitle {
  font-size: 20px;
  letter-spacing: 1.0px;
}

.pc-address {
  font-size: 14px;
  color: #b5b5b5;
  letter-spacing: 1px;
}

.pc-phone-holder {
  line-height: 24px;
  vertical-align: middle;
  padding: 4px 0px 4px 0px;
}

.pc-phone {
  font-size: 16px;
  color: #b5b5b5;
  letter-spacing: 1px;
  line-height: 16px;
  text-decoration: none !important;
}

.pc-phone a {
  color: #b5b5b5;
}

.pc-phone a:hover {
  text-decoration: none;
}

a:visited, a:active {
  text-decoration: none !important;
}

.pc-phone .fa-phone-square {
  vertical-align: middle;
  font-size: 20px;
  color: #16e37f;
  margin-right: 5px;
}

.call-button {
  margin-left: 12px;
  display: inline-block;
  background-color: #3eb079;
  padding: 3px 8px 3px 8px;
  border-radius: 4px;

}

.pc-sub-info {
  clear: both;

  padding: 12px 16px 12px 16px;

  color: #d5d5d5;
}

.info-label {
  font-size: 18px;
  letter-spacing: 1px;
}

.info-content {
  color: #b5b5b5;
  letter-spacing: 0.8px;
  margin-bottom: 10px;
}

.info-content:last-child {
  margin-bottom: 0px;
}
