/*
navigation bar color: #2c3e50
background-color: #404040
*/

html {
  font-family: Jua!important;
}

body {
  background-color: #404040;
  font-family: Jua!important;
  letter-spacing: 3px;
  word-break: keep-all;
}

div, span {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; 
}

a:active, a:visited, a:hover {
  text-decoration: none;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input {

}

input::-webkit-input-placeholder {
  font-family: Jua;
}

input:-ms-input-placeholder {
  font-family: Jua;
}

input:-moz-placeholder {
  font-family: Jua;
}

textarea::-webkit-input-placeholder {
  font-family: Jua;
}

textarea:-ms-input-placeholder {
  font-family: Jua;
}

textarea:-moz-placeholder {
  font-family: Jua;
}

input, textarea {
  font-family: NanumGothic;
}

input,
textarea,
[contenteditable] {
  caret-color: #d8d8d8;
}

button {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
}

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button:focus {
  outline: none;
}

.fa, .fas {
  letter-spacing: 0px;
}

input:focus {
  border-color: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: -webkit-focus-ring-color none 5px;
}

.container-box {

  margin-top: 54px;
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 16px;
}

.navbar {
    background-color: #2c3e50;
    text-align: left;
    box-shadow: 10px 0px 15px #222;
    -webkit-box-shadow: 10px 0px 15px #222;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;

    padding-top: 4px;
    padding-bottom: 4px;
}

.navbar li {
  border-top: 1px #777 solid;
  letter-spacing: 1.5px;
  padding-left: 4px;
  padding-right: 4px;
  vertical-align: middle;
}

.navbar .fas {
  font-size: 20px;
  margin-right: 8px;
  color: #FFF;
  vertical-align: middle;
  display: inline-block;
  text-align: left;
  width: 25px;
}

.app-name {
    font-size: 24px !important;
    padding-left: 4px;
    display: inline-block;
    color: #F8F8F8;
}

.navbar-open-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 0.5;
  z-index: 9;
  display: none;
}

.navbar-toggler{
  border: 0px;
}

.navbar-toggler-icon {

}

.reorder-icon {
    font-size: 32px;
    visibility: visible;
    color: #F8F8F8;
    z-index: 10;
}

.search-bar-holder {
    position: fixed;
    height: 38px;
    z-index: 8;
    top: 6px;
    left: 0px;
    right: 0px;
    margin-top: 56px;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 26px;
    background-color: #222;
    opacity: 0.7;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 40px;
}

.search-bar {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0);
    color: #F8F8F8;
    border: none;
    font-size: 18px;
    vertical-align: middle;
    text-align: left;
    line-height: 26px;
    position: absolute;
    left: 14px;
    top: 6px;

}

.search-icon-holder {
    display: inline-block;
    color: #656565;
    float: right;

    vertical-align: middle;
}

.search-icon-holder > .fa-search {
    vertical-align: middle;
}

.fa-image {
  display: inline-block;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
