.container-box {
  width: 100%;
  z-index: 9;
}

.main-map-holder {
  width: 100%;
  height: 100%;
}

.main-map-holder {
  position: absolute;
  top: 62px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#actual-map {
  width: 100%;
  height: 100%;
  letter-spacing: 0.2px;
}

.info-box {
  height: 100px;
  border-radius: 10px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;
  z-index: 10;
  background-color: #f8f8f8;
  box-shadow: 0px 0px 10px #222;
  -webkit-box-shadow: 0px 0px 10px #555;
  transform: translate(0, 120px);
}

.info-thumbnail{
  top: 10px;
  left: 10px;
  bottom: 10px;
  width: 80px;
  position: absolute;
  background-color: #ccc;
}

.info-title {
  position: absolute;
  display: inline-block;
  top: 10px;
  left: 100px;
  right: 60px;
  font-size: 24px;
  letter-spacing: 0.5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.info-address {
  color: #555;
  position: absolute;
  display: inline-block;
  top: 40px;
  left: 100px;
  right: 60px;
  font-size: 14px;
  letter-spacing: 0.3px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.info-state {
  position: absolute;
  display: inline-block;
  bottom: 10px;
  left: 100px;
  font-size: 16px;
  letter-spacing: 0.4px;
}

.info-marker-holder {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  bottom: 10px;
}

.info-distance {
  width: 100%;
  display: inline-block;
  text-align: center;
  letter-spacing: 0.15px;
  font-size: 12px;

}

.marker-image-holder {
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 10px;
}

.info-marker {
  width: 60%;
}

.not-enough-seats {
  color: #f9321c;
}
