.container-box {
  width: 100%;
  z-index: 9;
}

.main-map-holder {
  width: 100%;
  height: 100%;
}

.main-map-holder {
  position: absolute;
  top: 54px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#actual-map {
  width: 100%;
  height: 100%;
  letter-spacing: 0.2px;
}

#map-controls-holder {
  position: absolute;
  top: 54px;
  right: 10px;
  z-index: 9;
}

#party-number-holder {
  background-color: #222;
  opacity: 0.7;
  border-radius: 10px;
  position: relative;
}

#party-number-holder div {
  text-align: center;
}

#party-unit {
  position: absolute;
  height: 100%;
  line-height: 80px;
  top: 0px;
  right: 0px;
  color: #cfcfcf;
}

#party-unit span {
  vertical-align: middle;
  font-size: 12px;
}

#party-size-number {
  background-color: rgba(0,0,0,0);
  border: none;
  width: 40px;
  text-align: center;
  color: #fff;
  font-size: 24px;
}

.number-button i {
  color: #888;
  font-size: 40px;
  vertical-align: middle;
}

#up-button-holder {
  /* margin-top: -10px; */
  margin-bottom: -15px;
}

#up-button-holder i {
  margin-top: -6px;
}

/* 3:4 */

#down-button-holder {
  margin-top: -20px;
  /* margin-bottom: -10px; */
}

#down-button-holder i {
  margin-bottom: -4px;
}

#get-current-location-holder {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  text-align: center;
  background-color: #222;
  opacity: 0.7;
  border-radius: 10px;
}

#get-current-location-holder .fa-compass {
  color: #FFF;
  letter-spacing: 0px;
  vertical-align: middle;
  line-height: 40px;
  font-size: 20px;
}

.info-box {
  height: 100px;
  border-radius: 10px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;
  z-index: 10;
  background-color: #f8f8f8;
  box-shadow: 0px 0px 10px #222;
  -webkit-box-shadow: 0px 0px 10px #555;
  transform: translate(0, 120px);
}

.info-thumbnail{
  top: 10px;
  left: 10px;
  bottom: 10px;
  width: 80px;
  position: absolute;
  background-color: #ccc;
}

.info-title {
  position: absolute;
  display: inline-block;
  top: 10px;
  left: 100px;
  right: 60px;
  font-size: 24px;
  letter-spacing: 0.5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.info-address {
  color: #555;
  position: absolute;
  display: inline-block;
  top: 40px;
  left: 100px;
  right: 60px;
  font-size: 14px;
  letter-spacing: 0.3px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.info-state {
  position: absolute;
  display: inline-block;
  bottom: 10px;
  left: 100px;
  font-size: 16px;
  letter-spacing: 0.4px;
}

.info-marker-holder {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  bottom: 10px;
}

.info-distance {
  width: 100%;
  display: inline-block;
  text-align: center;
  letter-spacing: 0.15px;
  font-size: 12px;

}

.marker-image-holder {
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 10px;
}

.info-marker {
  width: 60%;
}

.not-enough-seats {
  color: #f9321c;
}
