<!DOCTYPE html>
<html>
  <head>
    <title>자리요</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    {% load static %}
    <link rel="stylesheet" href="{% static "pc_profile/css/reset.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "pc_profile/css/fonts.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "pc_profile/css/bootstrap.min.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "pc_profile/css/font-awesome/css/font-awesome.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "pc_profile/css/font-awesome/css/fontawesome-all.min.css" %}" type="text/css">

    <link rel="stylesheet" href="{% static "pc_profile/css/main.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "pc_profile/css/detail.css" %}" type="text/css" />

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA416a1okFOhUwZ-6ygcUfbDx7KjHMer1I&libraries=places">
    </script>

    <script src="{% static "pc_profile/js/PageObject.js" %}"></script>
    <script src="{% static "pc_profile/js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "pc_profile/js/bootstrap.min.js" %}"></script>
    <script src="{% static "pc_profile/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "pc_profile/js/canvas_handler.js" %}"></script>
    <script src="{% static "pc_profile/js/map_functions.js" %}"></script>
    <script src="{% static "pc_profile/js/detail.js" %}"></script>

  <script type="text/javascript">
    const pcProfileID = "{{profile_id}}";
  </script>

  </head>
  <body>
    {% include "pc_profile/navbar.html" %}

    <div class="container-box">
      <div class="search-bar-container">
        <div class="search-bar-holder">
          <input type="text" class="search-bar" placeholder="내 주변 피시방 찾아보기...">
          <span class="search-icon-holder">
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
        </div>
      </div>

      <div id="main-view-holder">
        <div id="main-canvas-holder">
          <canvas id="main-canvas">
          </canvas>
        </div>
        <div id="legend-holder">
          <div id="color-guide-holder">
            <div id="empty-guide">
              <span class="guide-text">빈 자리</span>
              <span class="color-square"></span>
            </div>
            <div id="taken-guide">
              <span class="guide-text">사용중</span>
              <span class="color-square"></span>
            </div>
            <div id="counter-guide">
              <span class="guide-text">카운터</span>
              <span class="color-square"></span>
            </div>
          </div>
        </div>
        <div id="time-holder">
          <span id="current-time"></span><i class="fas fa-sync-alt"></i>
        </div>
      </div>


      <div class="pc-info-holder">
        <div class="pc-picture-holder">
          <div class="main-picture-holder">
            <img src="/static/pc_profile/images/pc1.jpg" />
          </div>
          <table class="thumbnails-holder">
            <tr>
              <td>
                <div class="single_thumbnail">
                  <img src="/static/pc_profile/images/pc2.jpg" />
                </div>
              </td>
              <td>
                <div class="single_thumbnail">
                  <img src="/static/pc_profile/images/pc3.jpg" />
                </div>
              </td>
              <td>
                <div class="single_thumbnail">
                  <img src="" />
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div class="pc-title-holder">
          <span class="pc-title">
            {{ pc_title }}
          </span>
        </div>
        <div class="pc-subtitle-holder">
          <span class="pc-subtitle">
            {{pc_subtitle}}
          </span>
        </div>
        <div class="pc-address-holder">
          <span class="pc-address">
            {{address}}
          </span>
        </div>
        <div class="pc-phone-holder">
          <span class="pc-phone">
            <i class="fa fa-phone-square"></i><a href="tel:{{phone_address}}">{{phone_number}}</a>
          </span>
        </div>

      </div>
      <div class="pc-sub-info">
        <div class="info-label">
          컴퓨터 사양
        </div>
        <div class="info-content pc-specs-holder">
          {{pc_specs}}
        </div>

        <div class="info-label">
          사장님 한마디
        </div>
        <div class="info-content">
          {{owners_words}}
        </div>
        <div class="info-label">
          총 자리 수
        </div>
        <div class="info-content">
          {{total_seats}}
        </div>
      </div>
    </div>

  </body>

</html>
