<!DOCTYPE html>
<html>
  <head>
    <title>자리요</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    {% load static %}
    <link rel="stylesheet" href="{% static "pc_profile/css/reset.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "pc_profile/css/fonts.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "pc_profile/css/bootstrap.min.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "pc_profile/css/font-awesome/css/font-awesome.min.css" %}" type="text/css">

    <link rel="stylesheet" href="{% static "pc_profile/css/main.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "pc_profile/css/index.css" %}" type="text/css" />

    <script type="text/javascript">
      var mapMarkerList = [];
      var markerInfoDict = {};
      {% for profile in supported_profiles %}

        markerInfoDict["{{profile.profile_name}}"] = {
            pc_title: "{{profile.pc_title}}",
            pc_subtitle: "{{profile.pc_subtitle}}",
            address: "{{profile.address}}",
            id: "{{profile.id}}",
            lat: {{profile.lat}},
            lng: {{profile.lng}},
          };
        mapMarkerList.push({profile_name: "{{profile.profile_name}}", lat: {{profile.lat}}, lng: {{profile.lng}}});
      {% endfor %}
    </script>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA416a1okFOhUwZ-6ygcUfbDx7KjHMer1I&libraries=places">
    </script>
    <script src="{% static "pc_profile/js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "pc_profile/js/bootstrap.min.js" %}"></script>
    <script src="{% static "pc_profile/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "pc_profile/js/canvas_handler.js" %}"></script>
    <script src="{% static "pc_profile/js/map_functions.js" %}"></script>
    <script src="{% static "pc_profile/js/main.js" %}"></script>



  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand app-name" href="/">자리요</a>

      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">

        <i class="fa fa-bars reorder-icon" aria-hidden="true"></i>


      </button>

      <div class="navbar-collapse collapse" id="navbarsExample01" style="">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </nav>

    <div class="container-box">
        <div class="search-bar-container">
          <div class="search-bar-holder">
            <input type="text" class="search-bar" placeholder="내 주변 피시방 찾아보기...">
            <span class="search-icon-holder">
              <i class="fa fa-search" aria-hidden="true"></i>
            </span>
          </div>
        </div>

        <div id="map-container">
          <div id="map-scaler">
            <div id="map-holder">
            </div>
          </div>
          <!-- number of pc_rooms are template variables -->
          <div id="map-label-holder">
              <div class="header-label">
                  현재 자리요는 {{ servicing_number }}개의 PC방의 실시간 정보를 제공하고 있습니다.
              </div>
              <div class="sub-label">
                  현재 자리요는 일부 지역에서만 서비스 하고 있습니다. 점차 새로운 PC방들과 제휴를 맺어서, 더 나은 서비스를 약속드립니다.
              </div>
          </div>
        </div>
        <div id="my-location-container">
            <div id="location-icon-holder">
                <i class="fa fa-location-arrow" aria-hidden="true"></i>
            </div>
            <div class="header-label">
                나와 가까운 PC방 찾기
            </div>

            <div id="party-number-selector">
                <div class="arrow-button up-button-holder">
                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                </div>
                <div id="number-input-holder">
                    <input type="number" id="party-size-number" value="1" max="10">
                    <span id="party-unit">명</span>
                </div>


                <div class="arrow-button down-button-holder">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </div>
            </div>

            <div class="sub-label">
                인원수대로 찾아보기
            </div>

        </div>
        <div id="quick-view-holder">
          <div class="mini-grid-viewer">
            <div class="grid-left-button">
              <i class="fa fa-caret-left" aria-hidden="true"></i>
            </div>
            <canvas class="mini-grid-canvas"></canvas>
            <div class="grid-right-button">
              <i class="fa fa-caret-right" aria-hidden="true"></i>
            </div>
          </div>
          <div class="header-label">
            사이버리아 PC방 - 수서점
          </div>
        </div>
        <div id="report-container">
          <div id="report-button-holder">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
          </div>

          <div class="header-label">
            PC방 제보하기
          </div>
          <div class="sub-label">
              찾으시는 PC방이 없으시다면, 제보 부탁드립니다!
              빠른 시일 내에 추가하도록 노력하겠습니다.
          </div>

        </div>

    </div>


  </body>

</html>
