{% load static %}
<div class="info-thumbnail-background">
  <i class="fas fa-image"></i>
</div>
<div class="info-thumbnail">
  <img src="{% static "pc_profile/images/pc1.jpg" %}" />
</div>
<span class="info-title">사이버리아 - 수서점</span>
<span class="info-address">서울특별시 강남구 수서동 725</span>
<span class="info-state">
  <span class="info-state-color"></span>
  <span class="info-state-text">자리 없음</span>
  <i class="far fa-question-circle"></i>

</span>

<div class="info-marker-holder">
  <div class="marker-image-holder">
    <img class="info-marker" src="{% static "pc_profile/images/marker_blue.png" %}" />
    <span class="info-distance">1.4 km</span>
  </div>
</div>
