<!DOCTYPE html>
<html>
  <head>
    <title>자리요</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    {% load static %}
    <link rel="stylesheet" href="{% static "pc_profile/css/reset.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "pc_profile/css/fonts.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "pc_profile/css/bootstrap.min.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "pc_profile/css/font-awesome/css/font-awesome.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "pc_profile/css/font-awesome/css/fontawesome-all.min.css" %}" type="text/css">

    <link rel="stylesheet" href="{% static "pc_profile/css/main.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "pc_profile/css/map.css" %}" type="text/css" />

    <script type="text/javascript">
      var mapMarkerList = [];
      var markerInfoDict = {};
      {% for profile in supported_profiles %}

        markerInfoDict["{{profile.profile_name}}"] = {
            pc_title: "{{profile.pc_title}}",
            pc_subtitle: "{{profile.pc_subtitle}}",
            address: "{{profile.address}}",
            empty_seats : {{profile.empty_seats}},
            two_empty_seats : {{profile.two_empty_seats}},
            largest_empty_seats : {{profile.largest_empty_seats}},
            id: "{{profile.id}}",
            lat: {{profile.lat}},
            lng: {{profile.lng}},
          };
        mapMarkerList.push({profile_name: "{{profile.profile_name}}", lat: {{profile.lat}}, lng: {{profile.lng}}});
      {% endfor %}
    </script>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA416a1okFOhUwZ-6ygcUfbDx7KjHMer1I&libraries=places">
    </script>

    <script src="{% static "pc_profile/js/PageObject.js" %}"></script>
    <script src="{% static "pc_profile/js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "pc_profile/js/bootstrap.min.js" %}"></script>
    <script src="{% static "pc_profile/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "pc_profile/js/map_functions.js" %}"></script>
    <script src="{% static "pc_profile/js/map.js" %}"></script>



  </head>
  <body>
    {% include "pc_profile/navbar.html" %}

    <div class="container-box">
      <div class="search-bar-holder">
          <input type="text" class="search-bar" placeholder="내 주변 피시방 찾아보기...">
          <span class="search-icon-holder">
              <i class="fa fa-search" aria-hidden="true"></i>
          </span>
      </div>

    </div>

    <div class="main-map-holder">
      <div id="map-controls-holder">
        <div id="party-number-holder">
          <div class="number-button" id="up-button-holder">
            <i class="fa fa-caret-up" aria-hidden="true"></i>
          </div>
          <input type="number" id="party-size-number" value="1" max="10" />
          <div class="number-button" id="down-button-holder">
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          </div>
          <div id="party-unit">
            <span>명</span>
          </div>
        </div>

        <div id="get-current-location-holder">
          <i class="fas fa-compass"></i>
        </div>
      </div>

      <div id="actual-map">

      </div>

      <div class="info-box hidden-box">
        {% include "pc_profile/info_box_content.html" %}
      </div>

      <div class="info-box visible-box">
        {% include "pc_profile/info_box_content.html" %}
      </div>

    </div>

  </body>
</html>
