<!DOCTYPE html>
<html>
  <head>
    <title>자리요</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    {% load static %}
    <link rel="stylesheet" href="{% static "pc_profile/css/reset.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "pc_profile/css/fonts.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "pc_profile/css/bootstrap.min.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "pc_profile/css/font-awesome/css/font-awesome.min.css" %}" type="text/css">

    <link rel="stylesheet" href="{% static "pc_profile/css/main.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "pc_profile/css/map.css" %}" type="text/css" />

    <script type="text/javascript">
      var mapMarkerList = [];
      var markerInfoDict = {};
      {% for profile in supported_profiles %}

        markerInfoDict["{{profile.profile_name}}"] = {
            pc_title: "{{profile.pc_title}}",
            pc_subtitle: "{{profile.pc_subtitle}}",
            address: "{{profile.address}}",
            id: "{{profile.id}}",
            lat: {{profile.lat}},
            lng: {{profile.lng}},
          };
        mapMarkerList.push({profile_name: "{{profile.profile_name}}", lat: {{profile.lat}}, lng: {{profile.lng}}});
      {% endfor %}
    </script>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA416a1okFOhUwZ-6ygcUfbDx7KjHMer1I&libraries=places">
    </script>

    <script src="{% static "pc_profile/js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "pc_profile/js/bootstrap.min.js" %}"></script>
    <script src="{% static "pc_profile/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "pc_profile/js/map_functions.js" %}"></script>
    <script src="{% static "pc_profile/js/map.js" %}"></script>



  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <!-- link to home page! -->
      <a class="navbar-brand app-name" href="/">자리요</a>

      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">

        <i class="fa fa-bars reorder-icon" aria-hidden="true"></i>


      </button>

      <div class="navbar-collapse collapse" id="navbarsExample01" style="">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </nav>

    <div class="container-box">
      <div class="search-bar-holder">
          <input type="text" class="search-bar" placeholder="내 주변 피시방 찾아보기...">
          <span class="search-icon-holder">
              <i class="fa fa-search" aria-hidden="true"></i>
          </span>
      </div>

    </div>

    <div class="main-map-holder">
      <div id="actual-map">

      </div>

      <div class="info-box hidden-box">
        <div class="info-thumbnail">
          <img src="" />
        </div>
        <span class="info-title">사이버리아 - 강남점 밥먹고 싶다</span>
        <span class="info-address">서울특별시 강남구 수서동 725</span>
        <span class="info-state not-enough-seats">자리 없음</span>

        <div class="info-marker-holder">
          <span class="info-distance">1.4 km</span>
          <div class="marker-image-holder">
            <img class="info-marker" src="{% static "pc_profile/images/marker_blue.png" %}" />
          </div>

        </div>
      </div>

      <div class="info-box visible-box">
        <div class="info-thumbnail">
          <img src="" />
        </div>
        <span class="info-title">사이버리아 - 수서점</span>
        <span class="info-address">서울특별시 강남구 수서동 725</span>
        <span class="info-state not-enough-seats">자리 없음</span>

        <div class="info-marker-holder">
          <span class="info-distance">1.4 km</span>
          <div class="marker-image-holder">
            <img class="info-marker" src="{% static "pc_profile/images/marker_blue.png" %}" />
          </div>

        </div>
      </div>

    </div>

  </body>
</html>
