<!DOCTYPE html>
<html>
  <head>
    <title>자리요</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    {% load static %}
    <link rel="stylesheet" href="{% static "pc_profile/css/reset.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "pc_profile/css/fonts.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "pc_profile/css/bootstrap.min.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "pc_profile/css/font-awesome/css/font-awesome.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "pc_profile/css/font-awesome/css/fontawesome-all.min.css" %}" type="text/css">

    <link rel="stylesheet" href="{% static "pc_profile/css/main.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "pc_profile/css/report.css" %}" type="text/css" />

    <script src="{% static "pc_profile/js/PageObject.js" %}"></script>
    <script src="{% static "pc_profile/js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "pc_profile/js/bootstrap.min.js" %}"></script>
    <script src="{% static "pc_profile/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "pc_profile/js/canvas_handler.js" %}"></script>

    <script src="{% static "pc_profile/js/report_success.js" %}"></script>

  </head>
  <body>
    {% include "pc_profile/navbar.html" %}

    <div class="container-box">

        <div class="container-content">
          <div class="message-holder">
            <div class="report-header report-success-message">
              소중한 제보 잘 받았습니다. 회신용 이메일을 남겨 주셨으면, 빠른 시일 내에 답변 드리겠습니다. 감사합니다.
            </div>
            <div class="report-button-holder">
              <a class="home-button report-button" href="/">
                홈으로 돌아가기
              </a>
            </div>
          </div>
        </div>

    </div>


  </body>

</html>
